.padding {
    padding: 15px;
}

body,
footer.steps,header.steps {
    display: -webkit-flex;
    display: -ms-flexbox
}

body,
main {
    position: relative
}

#main {
    padding: 0px;
}
h1#word::first-letter {
    text-transform: uppercase;
}

footer.steps,header.steps * {
    color: #fff;
    fill: #fff;
}

#slider,
body {
    height: -1%;
    overflow: hidden
}

html {
    background: #f1f1f1;
    height: 100%;
}

body {
    background: #fff;
    color: #505050;
    margin: 0;
    padding: 0;
    font: 11pt "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Tahoma, sans-serif;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow-y: hidden;
    -webkit-font-smoothing: antialiased
}

h1 {
    font-size: 30pt
}

h2 {
    font-size: 18pt
}

h3 {
    font-size: 11pt
}

footer span {
    float: right;
    margin-top: -30px;
    color: red
}

h1 small {
    font-size: 15px;
    font-weight: bold
}

li {
    list-style: numeric;
    margin-left: 20px;
}

    li p {
        margin-left: 5px
    }

main {
    -webkit-flex: 2 0 auto;
    -ms-flex: 2 0 auto;
    flex: 2 0 auto;
    background-color: #fff;
}

footer.steps,header.steps {
    position: relative;
    -webkit-flex: 2 0 auto;
    -ms-flex: 2 0 auto;
    flex: 2 0 auto;
    background-color: #fff;
    -webkit-flex: 6 0 auto;
    -ms-flex: 6 0 auto;
    flex: 6 0 auto;
    background-color: #0173c7;
    margin-bottom: 20px;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    border-top: solid 10px #da3b01
}

#slider,
section.resources {
    display: -webkit-flex;
    display: -ms-flexbox
}

main > h2 {
    padding: 0 20px;
    font-weight: 200;
    margin: 0;
}

.more_link {
    float: right;
}

#buttons {
    padding: 10px;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
}
.o365button {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: outset;
    border-bottom-width: 0px;
    border-left-color: rgb(221, 221, 221);
    border-left-style: outset;
    border-left-width: 0px;
    border-right-color: rgb(221, 221, 221);
    border-right-style: outset;
    border-right-width: 0px;
    border-top-color: rgb(221, 221, 221);
    border-top-style: outset;
    border-top-width: 0px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    display: inline-block;
    font-family: wf_segoe-ui_normal, Segoe UI, Segoe WP, Tahoma, Arial, sans-serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: normal;
    height: 17.5px;
    letter-spacing: normal;
    line-height: normal;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 8px;
    padding-top: 0px;
    text-align: center;
    text-indent: 0px;
    text-rendering: auto;
    text-shadow: none;
    text-transform: none;
    user-select: none;
    width: 75px;
    word-spacing: 0px;
    writing-mode: horizontal-tb;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-border-image: none;
    align-items: flex-start;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: outset;
    border-bottom-width: 0px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(221, 221, 221);
    border-left-style: outset;
    border-left-width: 0px;
    border-right-color: rgb(221, 221, 221);
    border-right-style: outset;
    border-right-width: 0px;
    border-top-color: rgb(221, 221, 221);
    border-top-style: outset;
    border-top-width: 0px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    display: inline-block;
    font-family: wf_segoe-ui_normal, Segoe UI, Segoe WP, Tahoma, Arial, sans-serif;
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: normal;
    height: 17.5px;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    text-indent: 0px;
    text-rendering: auto;
    text-shadow: none;
    text-transform: none;
    user-select: none;
    width: auto;
    word-spacing: 0px;
    writing-mode: horizontal-tb;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-border-image: none;
    color: #0173c7;
    margin-top: 2px;
    margin-left: 18px;
    margin-right: 5px;
    position: relative;
}
.suggestionPopup {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 7px;
    position: absolute;
    box-sizing: border-box;
    outline: 0px;
    z-index: 2001;
    left: 155px;
    top: 215.1px;
    display: none;
}
.suggestionClose {
    margin-bottom:  0px;
    margin-left:  0px;
    margin-right:  0px;
    margin-top:  0px;
    padding: 0px 5px 0px 0px;
    font-size: 10px;
    height: 16.5px;
    width: 20px;
    color: #6c6c6c;
}
.separator {
    position: absolute;
    z-index: 4;
    left: -1px;
    background: #e3e3e3;
    width: 1px;
    float: left;
    margin-left: 5px;
    height: 15px;
    margin-top: 3px;
    margin-left: -10px;
}
.recorder:hover {
    background: #ff5e22;
}
#slider {
    color: #333;
    display: flex;
    width: 100%;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    height: 140px;
    margin: 0 10px;
}

    #slider .slide {
        -webkit-flex: 0 0 calc(100% - 40px);
        -ms-flex: 0 0 calc(100% - 40px);
        flex: 0 0 calc(100% - 40px);
        width: calc(100% - 40px);
        /* padding: 20px; */
        display: none;
        height: calc(100% - 40px)
    }

        #slider .slide.active {
            display: block
        }

        #slider .slide h1 {
            color: #fff;
            font-weight: 200;
            margin: 0 0 20px;
            padding: 10px 0
        }

        #slider .slide p,
        #slider .slide pre {
            margin: 20px 0 0;
            display: block
        }

        #slider .slide pre {
            font: 11pt Consolas, Courier New, Courier, monospace;
            width: calc(100% - 40px);
            white-space: pre-line;
            padding: 20px;
            background-color: #DDD;
            color: #333;
            line-height: 16pt
        }

            #slider .slide pre span.comment {
                opacity: .7
            }

#buttons button {
    font: 11pt "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 0 10px 0 0;
    color: #EDEDED;
    border: none;
    outline: 0;
    background-color: #da3b01;
    cursor: pointer;
    height: 32px;
    min-width: 80px;
    padding: 4px 20px 6px
}

    #buttons button:active,
    #buttons button:hover {
        background-color: #333 !important;
        color: #f2f2f2 !important
    }

    #buttons button:active {
        -webkit-transform: scale3d(.98, .98, .98);
        transform: scale3d(.98, .98, .98)
    }

section.resources {
    padding: 0;
    clear: both;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    overflow: auto;
    height: 100%
}

section.links {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1 1 250px;
    -ms-flex: 1 1 250px;
    flex: 1 1 250px;
    padding: 20px;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

    section.links h3 {
        width: 100%;
        text-transform: uppercase;
        margin: 0 0 8px;
        border-bottom: 1px solid silver;
        padding-bottom: 12px
    }

    section.links img.circle {
        width: 120px;
        height: 120px;
        border-radius: 100%;
        background-color: #EDEDED;
        margin: 0 auto 20px
    }

    section.links.last {
        margin-right: 0
    }

ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 20px
}

li {
    padding: 4px 0
}

a {
    color: #da3b01;
    cursor: pointer;
    text-decoration: none
}

    a:hover {
        text-decoration: underline
    }

footer {
    background-color: #EDEDED;
    padding: 4px 20px;
    -webkit-flex: 0 0 40px;
    -ms-flex: 0 0 40px;
    flex: 0 0 40px;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    width: calc(100% - 40px)
}

    footer p {
        bottom: 10px
    }

body.excel footer.steps,header.steps {
    border-top: solid 10px #217346
}

body.excel #slider .slide h1,
body.excel a {
    color: #217346
}

body.excel #buttons button {
    background-color: #217346
}

body.word footer.steps,header.steps {
    border-top: solid 10px #2b579a
}

body.word #slider .slide h1,
body.word a {
    color: #2b579a
}

body.word #buttons button {
    background-color: #2b579a
}

body.powerpoint footer.steps,header.steps {
    border-top: solid 10px #b7462a
}

body.powerpoint #slider .slide h1,
body.powerpoint a {
    color: #b7462a
}

body.powerpoint #buttons button {
    background-color: #b7462a
}

body.onenote footer.steps,header.steps {
    border-top: solid 10px #80397b
}

body.onenote #slider .slide h1,
body.onenote a {
    color: #80397b
}

body.onenote #buttons button {
    background-color: #80397b
}

body.outlook footer.steps,header.steps {
    border-top: solid 0px #0173c7
}

body.outlook #slider .slide h1,
body.outlook a {
    color: #0173c7
}

body.outlook #buttons button {
    background-color: #0173c7
}

body.project #slider .slide h1,
body.project a {
    color: #31752f
}

body.project #buttons button {
    background-color: #31752f
}

body.outlook #slider .slide h1 {
    color: #fff;
}

.text p {
    float: left;
}

.ms-Icon {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
    cursor: pointer;
}

span.ms-Icon--Volume3 {
    margin: 0px 0px 0 50px;
}

    span.ms-Icon--Volume3:before {
        font-weight: bolder;
        width: 100px;
        height: 100px;
    }

.ms-Icon--heart:before {
    font-weight: bolder;
}

.ms-Icon--Search:before {
    font-weight: bolder;
}

.ms-Icon--heartEmpty:before {
    font-weight: bolder;
}

span.ms-Icon--HeartFill {
    font-weight: bolder;
}

.def {
    border-bottom: 1px #ee0303 dotted;
}

.synonyms {
    color: #aaaaaa;
}

.example-list  {
    list-style: lower-latin;
    font-size: small;
}

main#main article {
    margin: -30px 0 15px 10px;
}
main#main article + div {
    margin: 0 10px;
}
    main#main article input {
        height: 24px;
        width: 89%;
        float: left;
        outline: none;
        border: none;
        font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Tahoma, sans-serif;
    }

    main#main article span {
        margin: 6px;
    }

    .ms-MessageBar.ms-MessageBar-Open {
        transition: bottom 0.5s ease-in;
        width: 104%;
        position: fixed;
        bottom: 0%;
        left: 0;
    }
    .ms-MessageBar.ms-MessageBar-Closed {
        transition:  bottom 1s ease-in;
        width: 104%;
        position: fixed;
        bottom: -100%;        
        left: 0;
    }
#definitions li p:first-child {
    margin: 0 0;
    padding-bottom: 10px;
}
#definitions li p:first-child::first-letter {
    text-transform: uppercase;
}